@charset "UTF-8";

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-Email:before {
  content: "\e917";
}

._icon-adderd:before {
  content: "\e900";
}

._icon-arrow-left:before {
  content: "\e901";
}

._icon-arrow-left-light:before {
  content: "\e902";
}

._icon-arrow-right:before {
  content: "\e903";
}

._icon-arrow-right-light:before {
  content: "\e904";
}

._icon-bell:before {
  content: "\e905";
}

._icon-calcul:before {
  content: "\e906";
}

._icon-calendar:before {
  content: "\e907";
}

._icon-cross-circle-white:before {
  content: "\e908";
}

._icon-edit:before {
  content: "\e909";
}

._icon-email:before {
  content: "\e90a";
}

._icon-eye:before {
  content: "\e90b";
}

._icon-geolok:before {
  content: "\e90c";
}

._icon-info:before {
  content: "\e90d";
}

._icon-like:before {
  content: "\e90e";
}

._icon-lk-light:before {
  content: "\e90f";
}

._icon-marker:before {
  content: "\e910";
}

._icon-phone:before {
  content: "\e911";
}

._icon-phone-light:before {
  content: "\e912";
}

._icon-resive-email:before {
  content: "\e913";
}

._icon-tic:before {
  content: "\e914";
}

._icon-time-light:before {
  content: "\e915";
}

._icon-write:before {
  content: "\e916";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
  scroll-behavior: smooth;
}

body {
  color: #232c31;
  line-height: 1;
  font-family: "Gilroy";
  font-size: 1.125rem;
  text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Gilroy";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 80rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 1.25rem 2.375rem;
  color: #fff;
  font-weight: 700;
  font-size: 1.375rem;
  background-color: #1bd5ff;
  border-radius: 1.25rem;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  line-height: 1.22;
}

.button._fw {
  width: 100%;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  width: 100%;
  display: block;
  border: 1px solid #838688;
  border-radius: 0.625rem;
  padding: 1.6875rem 2.0625rem;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  -webkit-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  -webkit-transform: translateY(100px);
      -ms-transform: translateY(100px);
          transform: translateY(100px);
  opacity: 0;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  background-color: #fff;
  padding: 2.875rem 5.5rem 4.125rem 5.5rem;
  width: 100%;
  max-width: 45.875rem;
  border-radius: 1.875rem;
}

.lock .popup__content {
  visibility: visible;
}

.popup__content {
  position: relative;
}

.popup__close::before {
  position: absolute;
  top: 1.5625rem;
  right: 1.5625rem;
  font-size: 1.875rem;
}

.popup__title {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.21875;
  text-align: center;
}

.popup__title:not(:last-child) {
  margin-bottom: 1.25rem;
}

.popup__sub-title {
  text-align: center;
  font-size: 1.25rem;
  color: #676969;
  line-height: 0.7692307692;
}

.popup__sub-title:not(:last-child) {
  margin-bottom: 2.4375rem;
}

.popup__form:not(:last-child) {
  margin-bottom: 1.875rem;
}

.popup__block:not(:last-child) {
  margin-bottom: 1.4375rem;
}

.popup__button {
  margin-top: 8px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.5625rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.popup__footer {
  margin: 0 auto;
  max-width: 380px;
  font-size: 0.75rem;
  color: #9b9d9d;
  text-align: center;
  line-height: 1.6666666667;
}

.popup__footer span {
  color: #232c31;
}

.popup__footer a {
  color: #232c31;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

.spollers {
  display: -ms-grid;
  display: grid;
}

.spollers__item {
  font-size: 1.25rem;
}

.spollers__title {
  width: 100%;
  cursor: default;
  text-align: left;
  border-bottom: 1px solid #eee;
  padding: 2.875rem 6.25rem;
  position: relative;
  -webkit-transition: -webkit-transform 5s ease 10s;
  transition: -webkit-transform 5s ease 10s;
  transition: transform 5s ease 10s;
  transition: transform 5s ease 10s, -webkit-transform 5s ease 10s;
}

._spoller-init .spollers__title {
  cursor: pointer;
}

._spoller-init .spollers__title::before,
._spoller-init .spollers__title::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  background-color: #000;
  height: 2px;
  width: 1.75rem;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

._spoller-init .spollers__title::before {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
      -ms-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
}

._spoller-init .spollers__title::after {
  -webkit-transform: translate(-50%, -50%) rotate(-180deg);
      -ms-transform: translate(-50%, -50%) rotate(-180deg);
          transform: translate(-50%, -50%) rotate(-180deg);
}

._spoller-init .spollers__title._spoller-active::before {
  -webkit-transform: translate(-50%, -50%) rotate(0);
      -ms-transform: translate(-50%, -50%) rotate(0);
          transform: translate(-50%, -50%) rotate(0);
}

._spoller-init .spollers__title._spoller-active::after {
  -webkit-transform: translate(-50%, -50%) rotate(0deg);
      -ms-transform: translate(-50%, -50%) rotate(0deg);
          transform: translate(-50%, -50%) rotate(0deg);
}

._spoller-init .spollers__title._spoller-active.spollers__title {
  border-bottom: 1px solid #fff;
}

.spollers__body {
  border-bottom: 1px solid #eee;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.services__items {
  list-style-type: none;
  counter-reset: item;
}

.services__items li {
  position: relative;
}

.services__items li:before {
  counter-increment: item;
  content: counter(item, decimal-leading-zero);
}

.qestions .spollers {
  list-style-type: none;
  counter-reset: item;
}

.qestions .spollers .spollers__item {
  position: relative;
}

.qestions .spollers .spollers__item:before {
  content: counter(item, decimal-leading-zero);
  counter-increment: item;
  position: absolute;
  left: 0;
  top: 2.5rem;
  font-size: 3.125rem;
  color: #f6f6f6;
  font-weight: 700;
}

.qestions .spollers .spollers__item._active:before {
  color: #1bd5ff;
}

html,
body {
  -webkit-overflow-scrolling: touch;
}

.decor {
  background: linear-gradient(141.54deg, rgb(255, 255, 255) 50.144%, rgb(150, 150, 150) 108.811%);
  border-radius: 50%;
}

.decor__prewiew {
  position: absolute;
  top: 30px;
  right: -86px;
  width: 40%;
  height: 523px;
  z-index: -4;
  -webkit-filter: blur(70px);
          filter: blur(70px);
}

.decor__services {
  position: absolute;
  top: 30px;
  left: 36%;
  width: 520px;
  height: 520px;
  background: linear-gradient(141.54deg, rgb(255, 255, 255) 50.016%, rgb(122, 122, 122) 108.129%);
}

p:not(:last-child) {
  margin-bottom: 0.625rem;
}

.icon-menu {
  display: none;
}

main {
  -webkit-transition: -webkit-filter 0.3s ease;
  transition: -webkit-filter 0.3s ease;
  transition: filter 0.3s ease;
  transition: filter 0.3s ease, -webkit-filter 0.3s ease;
}

.menu-open main {
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.header__wrapper {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
  background-color: #fff;
}

.header__infomation {
  position: relative;
  z-index: 5;
}

.header__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  background-color: #fff;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.875%;
          flex: 0 0 16.875%;
}

.header__logo img {
  max-width: 100%;
}

.header__menu {
  margin-left: 7.8125rem;
}

.header__phone {
  font-weight: 700;
  font-size: 1.1875rem;
  margin-right: 1.3125rem;
}

.infomation-header {
  border-bottom: 1px solid #e7e7e7;
  background-color: #fff;
}

.infomation-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 3.125rem;
  gap: 0.625rem;
}

.infomation-header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.infomation-header__contacts::before {
  margin-right: 0.625rem;
}

.infomation-header__messangers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.75rem;
}

.infomation-header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.infomation-header__img img {
  width: 18px;
  height: 17px;
}

.menu {
  font-weight: 500;
  font-size: 1.125rem;
}

.menu__item {
  margin-right: 3.125rem;
  padding: 0.3125rem 0;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

.footer {
  padding: 4.375rem 0 2.1875rem 0;
  background-color: #000;
  color: #838688;
}

.footer a {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.footer__header {
  display: -ms-grid;
  display: grid;
  gap: 1.5625rem;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
}

.footer__header:not(:last-child) {
  margin-bottom: 2.1875rem;
}

.footer__logo {
  max-width: 11.5625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateY(-1.25rem);
      -ms-transform: translateY(-1.25rem);
          transform: translateY(-1.25rem);
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__item .footer__link {
  display: inline-block;
  margin-top: 0.625rem;
}

.footer__link {
  font-weight: 500;
  font-size: 1.75rem;
  color: #fff;
}

.footer__messangers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
}

.footer__messangers img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.footer__nav {
  padding: 2.1875rem 0;
  border-top: 1px solid #313131;
  border-bottom: 1px solid #313131;
}

.footer__nav:not(:last-child) {
  margin-bottom: 2.1875rem;
}

.footer__menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 700;
  font-size: 1.375rem;
  color: #fff;
  gap: 0.625rem;
}

.footer__rights {
  font-size: 0.8125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
  line-height: 1.4;
}

.footer__rights .footer__item {
  display: block;
}

.page {
  margin-top: 10.6875rem;
}

.page section {
  scroll-margin-top: 150px;
  padding: 4.375rem 0;
}

.page section:not(:last-child) {
  margin-bottom: 4.375rem;
}

.page__title {
  position: relative;
  z-index: 2;
  font-size: 5.125rem;
  line-height: 1.2;
  margin-bottom: 3.125rem;
}

.prewiew__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3.125rem;
}

.prewiew__text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.prewiew__title {
  font-size: 4.375rem;
  line-height: 1.11;
}

.prewiew__title:not(:last-child) {
  margin-bottom: 2.5rem;
}

.prewiew__sub-title {
  font-size: 1.4375rem;
  line-height: 1.3;
}

.prewiew__photo {
  border-radius: 2.8125rem;
  overflow: hidden;
  -webkit-box-shadow: 0px 19px 90px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 19px 90px 0px rgba(0, 0, 0, 0.2);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.prewiew__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.5rem;
}

.prewiew__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.prewiew__plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 1.875rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.prewiew__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.33%;
          flex: 0 1 33.33%;
  font-weight: 500;
  line-height: 1.44;
  font-size: 1.25rem;
  padding: 0 1.875rem;
}

.prewiew__item:nth-child(odd) {
  padding-right: 1.25rem;
}

.prewiew__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.6875rem 0.625rem;
  border-radius: 50%;
  width: 1.875rem;
  height: 1.875rem;
  background-color: #1bd5ff;
}

.prewiew__icon::before {
  font-size: 0.625rem;
}

.plus__title {
  display: none;
}

.plus__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.125rem;
}

.item-plus {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  border-radius: 1.25rem;
  background: rgb(247, 247, 247);
  padding: 4.1875rem 3.5rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.item-plus__header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 2.8125rem;
  border-bottom: 1px solid rgb(221, 221, 221);
  margin-bottom: 2.8125rem;
  padding-right: 1%rem;
}

.item-plus__title {
  font-weight: 700;
  font-size: 7.375rem;
  line-height: 1;
}

.item-plus__img {
  position: absolute;
  top: 0;
  right: 0;
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid rgb(221, 221, 221);
}

.item-plus__img img {
  width: 100%;
}

.item-plus__text {
  font-size: 1.625rem;
  font-weight: 400;
  line-height: 1.4;
}

.services {
  border-radius: 2.8125rem;
  background: rgb(247, 247, 247);
  padding: 2.5rem;
}

.services__container {
  position: relative;
}

.services__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -1.5625rem;
  row-gap: 3.125rem;
}

.services__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33%;
          flex: 0 0 33.33%;
  padding: 0 1.5625rem;
}

.services__item::before {
  position: absolute;
  top: 1.4375rem;
  right: 3.125rem;
  z-index: 1;
  color: rgb(235, 235, 235);
  font-size: 2.5rem;
  font-weight: 500;
}

.services__body {
  position: relative;
  border-radius: 2.8125rem;
  background: rgb(255, 255, 255);
  padding: 2.5rem 2.1875rem;
  height: 100%;
  border: 1px solid rgb(247, 247, 247);
}

.services__icon {
  width: 3.75rem;
  height: 3.75rem;
  margin-bottom: 1.4375rem;
}

.services__icon img {
  display: block;
  width: 100%;
  height: 100%;
}

.services__label {
  font-size: 1.625rem;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0%;
  text-align: left;
}

.portfolio__slider {
  position: relative;
}

.portfolio__slider-nav {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  background-color: #fff;
}

.portfolio__slider-nav-prev,
.portfolio__slider-nav-next {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 50%;
  width: 3.75rem;
  height: 3.75rem;
  background-color: #1bd5ff;
  color: #fff;
  margin-left: 1.25rem;
}

.portfolio__slider-nav-prev::before,
.portfolio__slider-nav-next::before {
  font-size: 0.75rem;
  font-weight: 700;
}

.slide-portfolio__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.25rem;
  margin-bottom: 2.3125rem;
  max-width: 70%;
}

.slide-portfolio__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide-portfolio__item:nth-child(1) {
  width: 100%;
}

.slide-portfolio__label {
  font-weight: 500;
  line-height: 1.27;
}

.slide-portfolio__label:not(:last-child) {
  margin-right: 0.625rem;
}

.slide-portfolio__value {
  line-height: 1.2;
}

.slide-portfolio__body {
  position: relative;
  border-radius: 2.8125rem;
  background: rgb(247, 247, 247);
  padding: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.25rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slide-portfolio__main {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
}

.slide-portfolio__rewiev {
  position: relative;
  z-index: 2;
  border-radius: 1.25rem;
  background: rgb(255, 255, 255);
  padding: 1.875rem;
  margin-bottom: 1.875rem;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
          box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
}

.slide-portfolio__rewiev_title {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
}

.slide-portfolio__rewiev_title:not(:last-child) {
  margin-bottom: 1rem;
}

.slide-portfolio__rewiev_conent {
  line-height: 1.2;
}

.slide-portfolio__rewiev_conent li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-left: 25px;
}

.slide-portfolio__rewiev_conent li:not(:last-child) {
  margin-bottom: 0.625rem;
}

.slide-portfolio__rewiev_conent li::before {
  position: absolute;
  top: 7px;
  left: 0;
  content: "";
  width: 10px;
  height: 10px;
  background-color: #1bd5ff;
  margin-right: 0.625rem;
  border-radius: 0.125rem;
}

.slide-portfolio__button {
  position: relative;
  height: 5.5rem;
  z-index: 2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slide-portfolio__image {
  display: none;
}

.comment-portfolio {
  position: relative;
  z-index: 2;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  padding: 1.25rem;
  border-radius: 1.25rem 1.25rem 1.25rem 0;
  background: rgb(255, 255, 255);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
          box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
}

.comment-portfolio__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comment-portfolio__header:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.comment-portfolio__avatar:not(:last-child) {
  margin-right: 0.9375rem;
}

.comment-portfolio__about-client {
  line-height: 1.4;
}

.comment-portfolio__title {
  font-weight: 500;
}

.comment-portfolio__sub-title {
  font-size: 16px;
}

.comment-portfolio__text {
  line-height: 1.4;
}

.swiper-button-disabled {
  color: #000;
  background: rgb(247, 247, 247);
}

.selection__title:not(:last-child) {
  margin-bottom: 3.4375rem;
}

.selection__title span {
  display: inline-block;
  position: relative;
  font-weight: 700;
}

.selection__title span::before {
  content: "";
  position: absolute;
  top: 60%;
  width: 100%;
  height: 1.4375rem;
  border-radius: 0.9375rem;
  z-index: -1;
  background-color: #1bd5ff;
}

.selection__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
}

.selection__text {
  font-size: 1.75rem;
  line-height: 1.35;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 65%;
          flex: 0 1 65%;
}

.selection__button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.875rem 5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.scheme__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4.0625rem;
}

.scheme__nav {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 241px;
          flex: 0 0 241px;
}

.scheme__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
  overflow: auto;
}

.scheme__item {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  font-size: 1.25rem;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 1.25rem;
  padding: 1.25rem 1.5625rem 0.9375rem 3.125rem;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
}

@-webkit-keyframes goto {
  from {
    -webkit-transform: translate(-5px, -50%);
            transform: translate(-5px, -50%);
  }

  50% {
    -webkit-transform: translate(5px, -50%);
            transform: translate(5px, -50%);
  }

  to {
    -webkit-transform: translate(-5px, -50%);
            transform: translate(-5px, -50%);
  }
}

@keyframes goto {
  from {
    -webkit-transform: translate(-5px, -50%);
            transform: translate(-5px, -50%);
  }

  50% {
    -webkit-transform: translate(5px, -50%);
            transform: translate(5px, -50%);
  }

  to {
    -webkit-transform: translate(-5px, -50%);
            transform: translate(-5px, -50%);
  }
}

.scheme__item._active {
  background-color: #1bd5ff;
  color: #fff;
  border: 1px solid #1bd5ff;
}

.scheme__item._active .scheme__item_title::before {
  border: 1px solid #1bd5ff;
}

.scheme__item_title {
  position: relative;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.2;
}

.scheme__item_title:not(:last-child) {
  margin-bottom: 0.625rem;
}

.scheme__item_title::before {
  content: "";
  position: absolute;
  top: 3px;
  left: -30px;
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid rgb(221, 221, 221);
}

.scheme__item__sub-title {
  font-size: 0.875rem;
}

.scheme__content {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  border-radius: 2.8125rem;
  background: rgb(247, 247, 247);
  padding: 2.8125rem;
  line-height: 2;
}

.scheme__content_count,
.scheme__content_title {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.4;
}

.scheme__content_title:not(:last-child) {
  margin-bottom: 0.4375rem;
}

.scheme__content._active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.choice__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.item-choice {
  padding: 2.1875rem;
  background-color: #f7f7f7;
  border-radius: 1.25rem;
}

.item-choice_no-bg .item-choice__text {
  color: #232c31;
  font-weight: 400;
  font-size: 1.125rem;
}

.item-choice__text {
  font-size: 1rem;
  line-height: 1.6;
  color: #676969;
  font-weight: 500;
}

.item-choice__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-choice__header:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.item-choice__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 4rem;
          flex: 0 0 4rem;
  height: 4rem;
}

.item-choice__icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.item-choice__title {
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 700;
}

.qestions .spollers__item::before {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.qestions .spollers._active::before {
  color: #1bd5ff;
}

.qestions .spollers__title {
  font-size: 1.75rem;
  font-weight: 700;
}

.qestions .spollers__body {
  line-height: 1.5;
  padding: 0rem 6.25rem 2.875rem 6.25rem;
}

.qestions span {
  position: relative;
}

.qestions span::before {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 85%;
  height: 0.625rem;
  opacity: 0;
  border-radius: 0.4375rem;
  background-color: #1bd5ff;
  z-index: -1;
}

.qestions ._active .spollers__title span::before {
  opacity: 1;
}

.qestions__sub-title:not(:last-child) {
  margin-bottom: 2.1875rem;
}

.applications__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 3.125rem;
}

.applications__items:not(:last-child) {
  margin-bottom: 3.125rem;
}

.applications__item {
  padding: 2.8125rem;
  border-radius: 1.25rem;
  background-color: #f7f7f7;
}

.applications__title-item {
  font-size: 1.5rem;
  line-height: 1.25;
  font-weight: 700;
}

.applications__title-item:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.applications__text {
  line-height: 1.4;
}

.applications__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.applications__button .button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5rem;
}

.action {
  background-color: #1d1d1d;
}

.action__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  gap: 2.8125rem;
}

.action__item {
  background-color: #2d2d2d;
}

.item-action {
  padding: 2.8125rem;
  border-radius: 2.8125rem;
}

.item-action__img {
  width: 103px;
  height: 103px;
}

.item-action__img:not(:last-child) {
  margin-bottom: 2.5rem;
}

.item-action__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.item-action__title {
  font-size: 1.625rem;
  line-height: 1.2;
  color: #fff;
  font-weight: 500;
}

.item-action__title:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.item-action__text {
  line-height: 1.4;
  color: #a4a4a4;
}

.feedback__body {
  position: relative;
  display: -ms-grid;
  display: grid;
  gap: 7.8125rem;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
}

.feedback__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.5625rem;
}

.feedback__sub-title {
  line-height: 1.5;
}

.feedback__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.5625rem;
}

.feedback__button {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5rem;
}

.feedback__footer {
  text-align: center;
  font-size: 0.75rem;
  color: #9b9d9d;
}

.feedback__footer a {
  color: #232c31;
}

.feedback__image-ibg {
  border-radius: 2.8125rem;
  overflow: hidden;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 29.99875em) {
  .prewiew__text {
    max-width: 80%;
  }

  .item-choice_no-bg {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }
}

@media (min-width: 47.99875em) {
  .spollers {
    gap: 15px;
  }

  .header__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__menu {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 32.8125%;
            flex: 1 0 32.8125%;
  }

  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__header .footer__item:nth-child(4) {
    margin-left: 3.125rem;
  }

  .footer__messangers .footer__link {
    width: 1.25rem;
    height: 1.25rem;
  }

  .prewiew__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50.390625%;
            flex: 0 1 50.390625%;
  }

  .prewiew__photo {
    width: 44.0625%;
    margin-left: 4.4375rem;
  }

  .slide-portfolio__image {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

  .slide-portfolio__image img {
    max-width: 100%;
  }

  .item-choice__title:not(:first-child) {
    margin-left: 0.9375rem;
  }
}

@media (min-width: 61.99875em) {
  .header__container {
    min-height: 85px;
  }

  .infomation-header__contacts_phone {
    display: none;
  }

  .prewiew__plus {
    width: 75%;
  }

  .prewiew__icon {
    margin-bottom: 0.6875rem;
  }

  .slide-portfolio__label {
    font-size: 1.375rem;
  }

  .slide-portfolio__value {
    font-size: 1.375rem;
  }

  .selection__title {
    width: 89%;
  }
}

@media (min-width: 81.875em) {
  .prewiew__footer {
    gap: 1.25rem;
  }

  .prewiew__button {
    height: 5.25rem;
  }

  .qestions__title {
    width: 80%;
  }
}

@media (min-width: 556.98px) {
  .infomation-header__img:not(:last-child) {
    margin-right: 0.5625rem;
  }
}

@media (max-width: 1264px) {
  .header__menu {
    margin-left: 3.75rem;
  }

  .menu__item {
    margin-right: 1.25rem;
  }
}

@media (max-width: 1177.98px) {
  .prewiew__button {
    font-size: 1.125rem;
  }
}

@media (max-width: 1128.98px) {
  .services__items {
    row-gap: 1.5625rem;
    margin: 0 -0.9375rem;
  }

  .services__item {
    padding: 0 0.9375rem;
  }

  .services__item::before {
    right: 2.5rem;
    font-size: 2.1875rem;
  }

  .services__body {
    padding: 1.875rem;
  }

  .services__label {
    font-size: 1.375rem;
  }
}

@media (max-width: 1045px) {
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 160px;
            flex: 0 0 160px;
  }
}

@media (max-width: 868.98px) {
  .menu {
    font-size: 1rem;
  }
}

@media (max-width: 773px) {
  .header__menu {
    margin-left: 2.5rem;
  }
}

@media (max-width: 589.98px) {
  .plus__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .applications__items {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }

  .applications__items:not(:last-child) {
    margin-bottom: 1.5625rem;
  }
}

@media (max-width: 562.98px) {
  .services__items {
    margin: 0 -0.3125rem;
    row-gap: 0.9375rem;
  }

  .services__item {
    padding: 0 0.3125rem;
  }

  .services__item::before {
    right: 1.25rem;
    font-size: 1.25rem;
  }

  .services__label {
    font-size: 0.875rem;
  }
}

@media (max-width: 556px) {
  .infomation-header__container {
    font-size: 1rem;
  }

  .infomation-header__label {
    display: none;
  }
}

@media (max-width: 555.98px) {
  .header__contacts .header__phone {
    display: none;
  }
}

@media (max-width: 81.875em) {
  .button {
    padding: 1.0625rem 1.875rem;
  }

  .header__phone {
    font-size: 1rem;
  }

  .page__title {
    font-size: 4.375rem;
    margin-bottom: 2.1875rem;
  }

  .prewiew__title {
    font-size: 3.125rem;
  }

  .prewiew__sub-title {
    font-size: 1.25rem;
  }

  .prewiew__plus {
    row-gap: 1.25rem;
  }

  .prewiew__item {
    font-size: 1rem;
  }

  .plus__items {
    gap: 2.5rem;
  }

  .item-plus {
    padding: 3.125rem 2.5rem;
  }

  .item-plus__title {
    font-size: 5.625rem;
  }

  .selection__text {
    font-size: 1.25rem;
  }

  .choice__items {
    gap: 2.1875rem;
  }

  .item-choice {
    padding: 1.875rem;
  }

  .item-choice__text {
    font-size: 0.9375rem;
  }

  .item-choice__icon {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 3.125rem;
            flex: 0 0 3.125rem;
    height: 3.125rem;
  }

  .item-choice__title {
    font-size: 1.125rem;
  }

  .feedback__body {
    gap: 3.75rem;
  }
}

@media (max-width: 61.99875em) {
  .button {
    padding: 0.9375rem 1.5625rem;
  }

  .qestions .spollers .spollers__item:before {
    top: 1.125rem;
    font-size: 1.875rem;
  }

  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 120px;
            flex: 0 0 120px;
  }

  .header__phone {
    display: none;
  }

  .footer__header {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__header .footer__item:nth-child(3) {
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-column-span: 0;
    grid-column-end: 2;
  }

  .footer__header .footer__item:nth-child(4) {
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-row-span: 2;
    grid-row-end: 2;
    -ms-grid-column-align: end;
        justify-self: end;
  }

  .footer__menu-link {
    font-size: 1.25rem;
  }

  .footer__rights {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .page section {
    padding: 2.1875rem 0;
  }

  .page section:not(:last-child) {
    margin-bottom: 2.1875rem;
  }

  .page__title {
    font-size: 3.75rem;
    margin-bottom: 1.25rem;
  }

  .prewiew__title {
    font-size: 2.3125rem;
  }

  .prewiew__sub-title {
    font-size: 1.0625rem;
  }

  .prewiew__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .prewiew__button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    height: 5.25rem;
    font-size: 1.25rem;
  }

  .prewiew__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    font-size: 1.125rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .prewiew__item {
    padding: 0;
  }

  .prewiew__icon {
    margin-right: 0.6875rem;
    width: 1.5625rem;
    height: 1.5625rem;
    padding: 0.5rem 0.4375rem;
  }

  .plus__items {
    gap: 1.25rem;
  }

  .item-plus__title {
    font-size: 4.6875rem;
  }

  .item-plus__img {
    width: 5rem;
    height: 5rem;
  }

  .item-plus__text {
    font-size: 1.375rem;
  }

  .services {
    border-radius: 1.25rem;
  }

  .services__item::before {
    font-size: 1.5625rem;
  }

  .services__body {
    padding: 1.25rem;
    border-radius: 1.25rem;
  }

  .services__label {
    font-size: 1.125rem;
  }

  .slide-portfolio__item {
    font-size: 1.125rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .comment-portfolio {
    -ms-flex-item-align: start;
        align-self: flex-start;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .selection__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .scheme__body {
    gap: 2.5rem;
  }

  .scheme__content {
    border-radius: 1.25rem;
  }

  .choice__items {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5625rem;
  }

  .qestions .spollers__title {
    font-size: 1.25rem;
    padding: 1.25rem 4.375rem;
  }

  .qestions .spollers__body {
    font-size: 1.125rem;
    padding: 1.25rem 4.375rem;
  }

  .applications__items {
    gap: 1.25rem;
  }

  .action__items {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    gap: 2.1875rem;
  }
}

@media (max-width: 47.99875em) {
  .popup__content {
    padding: 2.1875rem;
  }

  .qestions .spollers .spollers__item:before {
    top: 1.375rem;
    font-size: 1.5625rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header__container {
    border-bottom: 1px solid #e7e7e7;
  }

  .header__menu {
    margin: 0;
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: -1;
    padding: 0.9375rem;
    background-color: #fff;
    border-bottom: 1px solid rgb(221, 221, 221);
  }

  .menu-open .header__menu {
    opacity: 1;
    top: 4.75rem;
  }

  .header__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.25rem;
  }

  .header__phone {
    display: block;
    margin: 0;
  }

  .header__button {
    font-size: 1rem;
  }

  .infomation-header__contacts_phone {
    display: none;
  }

  .menu__item {
    padding: 0;
    margin: 0;
    margin-bottom: 0rem;
    font-size: 1.5625rem;
  }

  .menu__item:not(:last-child) {
    border-bottom: 1px solid #ececec;
  }

  .menu__link {
    display: inline-block;
    padding: 0.9375rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 15px;
  }

  .menu__link::before {
    content: "";
    width: 10px;
    height: 2px;
    background-color: #1bd5ff;
  }

  .footer__header .footer__item:nth-child(2) {
    -ms-grid-column-span: 2;
    grid-column: span 2;
    -ms-grid-column-align: center;
        justify-self: center;
    text-align: center;
  }

  .footer__header .footer__item:nth-child(3) {
    -ms-grid-row: 3;
        grid-row-start: 3;
    -ms-grid-column-span: 1;
    grid-column-end: 1;
    grid-column: span 2;
    -ms-grid-column-align: center;
        justify-self: center;
    text-align: center;
  }

  .footer__header .footer__item:nth-child(4) .footer__sub-title {
    display: none;
  }

  .footer__logo {
    max-width: 300px;
  }

  .footer__menu-items {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    gap: 1.25rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__menu-link {
    padding: 10px;
  }

  .page {
    margin-top: 8rem;
  }

  .page__title {
    font-size: 2.5rem;
  }

  .prewiew {
    padding-top: 0 !important;
  }

  .prewiew__body {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
  }

  .prewiew__title {
    font-size: 3.75rem;
  }

  .prewiew__sub-title {
    font-size: 1.4375rem;
  }

  .prewiew__photo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.7;
    z-index: -2;
  }

  .prewiew__photo img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -3;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
  }

  .item-plus {
    padding: 1.875rem;
  }

  .item-plus__header {
    margin-bottom: 1.5625rem;
    padding-bottom: 1.5625rem;
  }

  .item-plus__title {
    font-size: 3.125rem;
  }

  .item-plus__img {
    width: 3.4375rem;
    height: 3.4375rem;
  }

  .item-plus__text {
    font-size: 1.125rem;
  }

  .services__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .services__icon {
    width: 3.125rem;
    height: 3.125rem;
  }

  .portfolio__slider-nav-prev,
  .portfolio__slider-nav-next {
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 0.625rem;
  }

  .slide-portfolio__items {
    max-width: 80%;
    margin-bottom: 1.5625rem;
  }

  .slide-portfolio__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin: 0 -1.25rem;
    background-color: #fff;
    padding: 1.5625rem;
  }

  .selection__title:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .selection__button {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .scheme__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .scheme__nav {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .scheme__items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0 -1.875rem;
    padding: 0.625rem 1.875rem;
    gap: 1.875rem;
  }

  .scheme__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
            flex: 0 0 60%;
  }

  .scheme__item:not(:last-child)::after {
    font-family: icons;
    content: "\e903";
    position: absolute;
    top: 50%;
    right: -1.6875rem;
    color: #1bd5ff;
    -webkit-animation: goto 3s ease infinite;
            animation: goto 3s ease infinite;
  }

  .scheme__content {
    padding: 1.25rem;
  }

  .scheme__content_count {
    display: none;
  }

  .item-choice {
    padding: 1.875rem 1.5625rem;
  }

  .item-choice__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .item-choice__title:not(:first-child) {
    margin-top: 0.9375rem;
  }

  .qestions .spollers__body {
    padding: 0.625rem 0;
  }

  .applications__item {
    padding: 1.5625rem;
  }

  .applications__title-item {
    font-size: 1.25rem;
  }

  .applications__text {
    font-size: 1rem;
  }

  .action__items {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    gap: 1.25rem;
  }

  .item-action {
    padding: 1.875rem;
  }

  .item-action__img {
    width: 4.375rem;
    height: 4.375rem;
  }

  .item-action__title {
    font-size: 1.25rem;
  }

  .feedback__body {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }

  .feedback__image-ibg {
    display: none;
  }
}

@media (max-width: 29.99875em) {
  .button {
    padding: 0.625rem 0.9375rem;
  }

  ._spoller-init .spollers__title::before,
  ._spoller-init .spollers__title::after {
    width: 1.25rem;
    right: 0rem;
  }

  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80px;
            flex: 0 0 80px;
  }

  .menu-open .header__menu {
    opacity: 1;
    top: 3.625rem;
  }

  .header__button {
    font-size: 0.9375rem;
  }

  .page {
    margin-top: 6.875rem;
  }

  .prewiew__title {
    font-size: 2.5rem;
  }

  .prewiew__sub-title {
    font-size: 1.0625rem;
  }

  .prewiew__button {
    width: 100%;
    text-align: center;
    height: 3.75rem;
  }

  .prewiew__plus {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .services__items {
    row-gap: 1.5625rem;
  }

  .services__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .services__item::before {
    font-size: 2.1875rem;
  }

  .services__body {
    padding: 1.875rem;
  }

  .services__icon {
    width: 3.75rem;
    height: 3.75rem;
  }

  .services__label {
    font-size: 1.625rem;
  }

  .scheme__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
  }

  .scheme__item_title {
    font-size: 1.125rem;
  }

  .scheme__content_title {
    font-size: 1.5625rem;
  }

  .choice__items {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }

  .qestions .spollers__title {
    padding: 1.25rem 2.8125rem;
    font-size: 1rem;
  }

  .qestions .spollers__body {
    font-size: 1rem;
  }

  .applications__button .button {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (any-hover: hover) {
  .button:hover {
    background-color: #232c31;
  }

  .popup__footer a:hover {
    color: #1bd5ff;
  }

  .menu__item:hover {
    color: #1bd5ff;
  }

  .footer a:hover {
    color: #1bd5ff;
  }

  .item-plus:hover {
    -webkit-box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.2);
  }

  .scheme__item:hover {
    border: 1px solid #1bd5ff;
  }

  .scheme__item:hover .scheme__item_title::before {
    border: 1px solid #1bd5ff;
  }
}