// Заголовки, общие БЄМ блоки и проче...

.decor {
	background: linear-gradient(
		141.54deg,
		rgb(255, 255, 255) 50.144%,
		rgb(150, 150, 150) 108.811%
	);
	border-radius: 50%;

	// .decor__prewiew
	&__prewiew {
		position: absolute;
		top: 30px;
		right: -86px;
		width: 40%;
		height: 523px;
		z-index: -4;
		filter: blur(70px);
	}

	// .decor__services

	&__services {
		position: absolute;
		top: 30px;
		left: 36%;
		width: 520px;
		height: 520px;
		background: linear-gradient(
			141.54deg,
			rgb(255, 255, 255) 50.016%,
			rgb(122, 122, 122) 108.129%
		);
	}
}

p {
	&:not(:last-child) {
		margin-bottom: rem(10);
	}
}

.content {
	line-height: 1.4;
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: 500;
		&:not(:last-child) {
			margin-bottom: 0.2em;
		}
	}
	h1 {
		font-size: 1.6em;
	}
	h2 {
		font-size: 1.5em;
	}
	h3 {
		font-size: 1.4em;
	}

	h4 {
		font-size: 1.3em;
	}

	h5 {
		font-size: 1.2em;
	}
	h6 {
		font-size: 1.1em;
	}

	p {
		&:not(:last-child) {
			margin-bottom: rem(7);
		}
	}
	a {
		text-decoration: underline;
		color: $accentColor;
	}
	ul {
		&:not(:last-child) {
			margin-bottom: rem(7);
		}
	}
	li {
		&::before {
			content: "";
			display: inline-block;
			width: rem(10);
			height: rem(10);
			border-radius: rem(2);
			background-color: $accentColor;
			margin-right: rem(10);
		}
	}
	ol {
	}

	div {
		&:not(:last-child) {
			margin-bottom: rem(20);
		}
	}
}
